{
  "plugins": [
    "transform-function-bind",
    "transform-regenerator",
    ["transform-runtime", {
      "helpers": false,
      "regenerator": true
    }]
  ],
  "presets": [
    "latest",
    "stage-3",
  ]
}
